# This is a basic workflow to help you get started with Actions
name: Connect to an AWS role from a GitHub repository

# Controls when the action will run. Invokes the workflow on push events but only for the main branch
on: 
  push: 
    branches:
    - main
    - Test
  pull_request:
    branches:
    - main
    - Test
  workflow_dispatch:

env:
    AWS_REGION: us-east-1 # This only dictates the default region for API and CLI commands, but region is always specified on a per command basis, so it doesn't matter
    AWS_ROLE_DEV: ${{vars.AWS_ROLE_DEV}}
    AWS_ROLE_PROD: ${{vars.AWS_ROLE_PROD}}

# Permission can be added at job level or workflow level    
permissions:
      id-token: write   # This is required for requesting the JWT
      contents: read    # This is required for actions/checkout
jobs:
  AssumeRoleAndCallIdentity:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v3


      - name: configure aws credentials
        if: github.ref_name == 'Test'
        uses: aws-actions/configure-aws-credentials@v4
        with:
            role-to-assume: ${{ env.AWS_ROLE_DEV }} #change to reflect your IAM role’s ARN
            aws-region: ${{ env.AWS_REGION }}

      - name: configure aws credentials
        if: github.ref_name == 'main'
        uses: aws-actions/configure-aws-credentials@v4
        with:
            role-to-assume: ${{ env.AWS_ROLE_PROD }} #change to reflect your IAM role’s ARN
            aws-region: ${{ env.AWS_REGION }}

      - name: Sts GetCallerIdentity
        run: |
          aws sts get-caller-identity
          echo "${{ github.ref }}"
          echo "${{ github.ref_name }}"